<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Job Streamer</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" 
            type="text/javascript" 
            charset="utf-8"></script>
    <!-- script src="/static/agility/agility.min.js" type="text/javascript" charset="utf-8"></script -->
    <script src="/static/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/agility.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/d3/d3.js" type="text/javascript" charset="utf-8"></script>

    <!-- link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cabin:regular,italic,bold,bolditalic&amp;subset=latin" type="text/css" media="screen" charset="utf-8" / -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <script type="text/javascript">
      // globals
      var job_id='{{job_id}}';
    </script>
    <script src="/static/socket.io.js" type="text/javascript"></script>
  </head>
  <body>
    <h1><a target="none" href="{{request.application_url}}/{{job_id}}">{{job_id}}</a></h1>
  <hidden style='display:none'>
    <div id="visual_layout">
      <div id="viz">
      <svg id="visualisation" width="200" height="200"></svg>
      <script type="text/javascript" data-bind="src=url"></script>
      </div>
    </div>
    <div id="lineformat">
      <li class="outputline" data-bind="content" />
    </div>
    <div id="streamformat">
      <div class="stream">
        <ul></ul>
      </div>
    </div>
  </hidden>

  <script src="/static/outputstream.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
