<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:tal="http://xml.zope.org/namespaces/tal">
<head>
	<title>Loadtesting</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<meta name="keywords" content="python web application" />
	<meta name="description" content="pyramid web application" />
	<link rel="shortcut icon" href="{{request.application_url}}/static/favicon.ico" />
	<link rel="stylesheet" href="{{request.application_url}}/static/pylons.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cabin:regular,italic,bold,bolditalic&amp;subset=latin" type="text/css" media="screen" charset="utf-8" />
	<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
        </style>
	<![endif]-->

</head>
<body>
  <div id="wrap">
    <div id="header">
      <div class="header">Loadtesting Web Admin</div>
    </div>
    
    <div id="top">
      Loadtesting Admin
    </div>

    <div>
      <form>
        Choose Tests
        <ul>
          <li>
            <a href="{{request.application_url}}/1"> Job Number 1</a>
          </li>
          <li>
            <a href="{{request.application_url}}/api/jobs/1"> Job Number 1 (the api)</a>
          </li>

          <li>tests suite 1</li>
          <li>tests suite 2</li>
        </ul>
        <button>Run tests</button>
      </form>
    </div>

    <div id="bottom">
      end of html
    </div>
  </div>
</body>
</html>
